/* Inicio do começo do Site e Explicação do que ele faz */
.containerImagens {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2.5rem 0 1.813rem;
    gap: .5rem;
}

.imagem {
    background-color: var(--cor4);
    border-radius: 50%;
    width: 6.063rem;
    height: 6.063rem;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.imagem:hover {
    transform: scale(1.1);
}


.imagem img {
    position: absolute;
    bottom: 0;
    width: 6rem;
}

.sessaoInicioConteudo,
.sessaoPassoRemetenteConteudo,
.sessaoPassoDestinatarioConteudo {
    margin: 0 1rem;
}


/* Inicio da Parte das Opções, onde tem Botoes e Texto */
.containerOpcoes {
    margin: 2rem 0 5rem;
}

.conteudoContainer {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.opcao1,
.opcao2 {
    display: inline-block;
    border-radius: 10px;
    border: none;
    width: 8.875rem; 
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-family: var(--fonte--destaque);
    font-size: 1.25rem;
    color: var(--cor4); 
}

.opcao2 {
    background-color: var(--cor3);
}

.opcao2:hover {
    background-color: var(--cor3--hover);
}

.opcao1 {
    background-color: var(--cor2);
}

.opcao1:hover {
    background-color: var(--cor2--hover); 
}

.opcao1 .texto,
.opcao2 .texto {
    max-width: 8.875rem; 
}

.textoDestinatario {
    max-width: 12.063rem;
    text-align: center;
}

.textoDestaque2 {
    color: var(--cor2);
}

.textoDestaque3 {
    color: var(--cor3);
}

.containerDestinatario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}



/* Inicio da Sessao do Passo a Passo do Rementente */
.sessaoPassoRemetente {
    background-color: #FFFFFF;
}

/* Ondinha no começo e final dessa sessão */
.wave,
.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave  svg,
.wave2 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 63px;
}

.wave .shape-fill {
    fill: var(--cor4);
}

.wave2 .shape-fill {
    fill: var(--cor-fundo);
}

/* Começo da Estilização tutorial pro Rementente */
.subtitulo1,
.passo,
.textoPasso,
.opcaoEstouProntoRemetente,
.opcaoEstouProntoDestinatario {
    font-family: var(--fonte--destaque);
    font-weight: 700;
}

.passo,
.textoPasso,
.explicacaoPasso {
    color: var(--cor4);
}


.subtitulo1 {
    font-size: 2rem;
    margin: 2rem 0 .7rem;
    color: var(--cor1);
}

.passo {
    font-size: 2.5rem;
    margin: 0; 
}

.textoPasso {
    font-size: 1.5rem;
    margin: 0 0 2rem;
}

.passoRemetente,
.passoDestinatario {
    width: 17.5rem;
    height: auto;
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.passoRemetente {
    background-color: var(--cor1);
}

.passoDestinatario {
    background-color: var(--cor3);
}

.containerTutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.passoRemetente p,
.passoDestinatario p{
    max-width: 229px;
    text-align: center; 
    display: inline-block;
}

.opcaoEstouProntoRemetente {
    margin: 2.8rem auto 5rem;
    font-size: 1.5rem;
    background-color: var(--cor1);
    padding: .8rem;
    width: 10rem;
    text-align: center;
    line-height: 1.5rem;
    color: var(--cor4);
    border-radius: 10px;
}

.opcaoEstouProntoRemetente:hover {
    background-color: var(--cor1--hover);
}

/* Modificando o necessário no tutorial do Destinatario */
.subtitulo2 {
    font-family: var(--fonte--destaque);
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem 0 .7rem;
    color: var(--cor3);
}

.opcaoEstouProntoDestinatario {
    margin: 2.8rem auto 5rem;
    font-size: 1.5rem;
    background-color: var(--cor3);
    padding: .8rem;
    width: 10rem;
    text-align: center;
    line-height: 1.5rem;
    color: var(--cor4);
    border-radius: 10px;
}

.opcaoEstouProntoDestinatario:hover {
    background-color: var(--cor3--hover);
}


/* Responsividade apenas dos elementos não globais*/
@media (min-width: 600px) {
    .containerImagens {
        justify-content: center;
        gap: 4rem;
    }
    
    .imagem {
        width: 9.563rem;
        height: 9.563rem;
    }
    
    .imagem img {
        width: 10rem;
    }

    .sessaoInicioConteudo,
    .sessaoPassoRemetenteConteudo,
    .sessaoPassoDestinatarioConteudo {
        margin: 0 2.5rem;
    }

    .containerOpcoes {
        margin: 3rem 0;
    }
    
    .conteudoContainer {
        margin-bottom: 5rem;
    }

    .opcao1,
    .opcao2 {
        width: 11rem; 
        height: 3rem;
        font-size: 2rem;
    }

    .opcao2 {
        width: 14rem; 
    }
    
    .subtitulo1,
    .subtitulo2,
    .passo {
        font-size: 3rem;
    }


    .passoRemetente,
    .passoDestinatario {
        width: 19rem;
    }

    .containerTutorial {
        gap: 3rem;
    }
}

@media (min-width: 1024px) {
    .containerImagens {
        margin-top: 5rem;
        gap: 5rem;
    }
    
    .imagem {
        width: 12rem;
        height: 12rem;
    }
    
    .imagem img {
        width: 13rem;
    }

    .containerOpcoes {
        margin: 4rem 0;
    }

    .conteudoContainer {
        justify-content: space-around;
    }

    .opcaoUsuario{
        max-width: 350px;
    }
    
    .textoDestinatario {
        max-width: 20rem;
    }

    .containerTutorial {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    .passoRemetente,
    .passoDestinatario {
        height: 35rem;
    }  
}

@media (min-width: 1440px) {
    .sessaoInicioConteudo,
    .sessaoPassoRemetenteConteudo,
    .sessaoPassoDestinatarioConteudo {
        margin: 0 6rem;
    }

    .containerTutorial {
        gap: 5rem;
    }
}

@media (min-width: 1800px) {
    .sessaoInicioConteudo,
    .sessaoPassoRemetenteConteudo,
    .sessaoPassoDestinatarioConteudo {
        margin: 0 6rem;
    }
    
    .containerImagens {
        margin-top: 5rem;
        gap: 5rem;
    }
    
    .imagem {
        width: 15rem;
        height: 15rem;
    }
    
    .imagem img {
        width: 16rem;
    }
    
    .conteudoContainer {
        justify-content: center;
        gap: 20rem;
    }
}
     